#characterDisplay
{
    font-size:10em;
}

#toggleKeyboard
{
    padding-top:10px;
}

#difficultyWrapper
{
    margin-bottom:2%;
}

#input
{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.center
{
    width:100% !important;
    margin-left:auto !important;
    margin-right:auto !important;
}

.jumbotron
{
    padding-top:24px !important;
    padding-right:30px !important;
    padding-left:30px !important;
    padding-bottom:24px !important;
}